
{% form_theme form 'AppBundle/Team/playerfield.html.twig' %}


<h1>Edition de l'équipe {{ team.name }}</h1>

<div class="row">

    {{  form_start(form) }}
        <table id="players_formfields_container" data-prototype="{{ form_widget(form.players.vars.prototype)|e }}" class="table">
            <thead>
            <th>Nom du joueur</th>
            <th>Prénom du joueur</th>
            <th>Numéro de licence</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            {% for player in form.players %}
                {{ form_widget(player) }}
            {% endfor %}
            </tbody>

        </table>
    {{ form_end(form) }}
</div>


<script>

    var maxindex = 0;

    $(function(){

        var form = $('form');

        maxindex = form.find('.player-input').length;

        var addBtn = $('<button class="btn btn-secondary">Ajouter un joueur</button>');

        addBtn.on('click',addPlayer);

        form.append(addBtn);

        bindRemoveButtons();

    });

    function addPlayer(e){
        e.preventDefault();

        var tableContainer =  $('table#players_formfields_container');
        var prototype = tableContainer.attr('data-prototype');
        var newPlayerForm = prototype.replace(/__index__/g,maxindex ++);

        var tableBody =  $(tableContainer.find('tbody'));

        tableBody.append(newPlayerForm);
        bindRemoveButtons();

    }

    function removePlayer(e){
        var button = $(e.target);
        var formRow = button.parents('tr.player-input');
        formRow.remove();
    }

    function bindRemoveButtons(){
        $(".remove-button").each(function(){
            $(this).on('click',removePlayer);
        })
    }


</script>
