
{% form_theme form 'AppBundle/Team/playerfield.html.twig' %}


<div class="row">
    <div class="col-md-12">
        {{  form_start(form) }}
        <table id="players_formfields_container" data-prototype="{{ form_widget(form.players.vars.prototype)|e }}" class="table">
            <thead>
            <th>Nom du joueur</th>
            <th>Prénom du joueur</th>
            <th>Numéro de licence</th>
            <th>Catégorie</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            {% for player in form.players %}
                {{ form_widget(player) }}
            {% endfor %}
            </tbody>

        </table>
        {{ form_end(form) }}
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="bottom-btn-container">
            <div class="left-btn">
                <div class="btn btn-success playeradd-btn"><span class="glyphicon glyphicon-plus"></span> Ajouter un joueur</div>
            </div>
        </div>
    </div>
</div>


<script>

    var maxindex = 0;

    $(function(){

        var form = $('form');

        maxindex = form.find('.player-input').length;

        var addBtn = $('.playeradd-btn');

        addBtn.on('click',addPlayer);

        $('div.btn-save').on('click',sendForm);

        bindRemoveButtons();

    });

    function addPlayer(e){
        e.preventDefault();

        var tableContainer =  $('table#players_formfields_container');
        var prototype = tableContainer.attr('data-prototype');
        var newPlayerForm = prototype.replace(/__index__/g,maxindex ++);

        var tableBody =  $(tableContainer.find('tbody'));

        tableBody.append(newPlayerForm);
        bindRemoveButtons();

    }

    function removePlayer(e){
        var button = $(e.target);
        var formRow = button.parents('tr.player-input');
        formRow.remove();
    }

    function bindRemoveButtons(){
        $(".remove-button").each(function(){
            $(this).on('click',removePlayer);
        })
    }

    function sendForm(e){
        var modal = $("#modal-content");
        var formData = new FormData(modal.find('form')[0]);
        var teamId = modal.attr('data-teamid');
        $.ajax({
            type: 'POST',
            url : '{{ url('edit_team') }}' + '/' + teamId,
            data : formData,
            processData: false,
            contentType: false,
            success : function(data,status){
                hideModal();
            }
        });

    }


</script>
