{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/team_view.css') }}"/>

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ team.name }}</h1>
        </div>
    </div>

    <div class="row last-match lost">
        {% if team.lastPlayedMatch.tie %}
            {% set class = "tie"  %}
        {% elseif  team.lastPlayedMatch.winner == team %}
            {% set class = "win"  %}
        {% else %}
            {% set class = "loose"  %}
        {% endif %}
        <div class="col-md-12 last-match-container {{ class }}">
            <div class="row">
                {% for matchTeam in team.lastPlayedMatch.teams %}
                    <div class="col-md-5">
                        <div class="row">
                            {% if loop.first %} {# organisation des scores en Equipe 1 0 - 0 Equipe 2 #}
                                <div class="col-md-6 lastmatch-team-name">
                                    {{ matchTeam.name }}
                                </div>
                            {% endif %}

                            {% for score in team.lastPlayedMatch.scores %}
                                {% if score.team == matchTeam %}
                                    <div class="col-md-6 {% if loop.first %}lastmatch-team-score-left{% else %}lastmatch-team-score-right{% endif %}">
                                        {{ score.goals }}
                                    </div>
                                {% endif %}

                            {% endfor %}

                            {% if not loop.first %} {# organisation des scores en Equipe 1 0 - 0 Equipe 2 #}
                                <div class="col-md-6 lastmatch-team-name">
                                    {{ matchTeam.name }}
                                </div>
                            {% endif %}
                        </div>

                    </div>

                    {% if loop.first %}
                        <div class="col-md-2">
                            -
                        </div>
                    {% endif %}

                {% endfor %}
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Matchs Joués</h2>
            <table class="table table-bordered played-matches">
                <tbody>
                {% for match in team.playedMatchOrdered %}
                    {% if match.tie %}
                        {% set class = "tie" %}
                    {% elseif match.winner == team %}
                        {% set class = "win" %}
                    {% else %}
                        {% set class = "loose" %}
                    {% endif %}
                    <tr class="played-match-row {{ class }}" data-id="{{ match.id }}">
                       <td class="played-match-result">{{ match.name }} -  {% if match.tie %}Egalité{% else %}Gagnant: {{ match.winner.name }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
        <div class="col-md-6">
            {% if team.tournament %}
                <h2>Poule</h2>
                {% set pool = team.pool %}
                {% include ':AppBundle/Pool:poolRanking.html.twig' %}
            {% else %}

            {% endif %}

        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){

           $('.played-match-row').on('click',function(e){
               var matchId = $(e.target).parents('.played-match-row').data('id');
               window.location = '{{ url('view_match',{"matchId": '__matchId__'}) }}'.replace('__matchId__',matchId);
           });
           
        });
    </script>

{% endblock %}
