{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/match_view.css') }}"/>
{% endblock %}

{% block body %}


    <h4>{{ match.tournament.name }} > {{ match.name }}</h4>

    <div class=row">
        {% for team in match.teams %}



            <div class="col-md-6">
                <div class="team-container" data-id="{{ team.id }}">
                    <span class="team-name">{{ team.name }}</span>
                    <div class="score-container">
                        {% for score in match.scores if score.team == team %}
                            {{ score.goals }}
                        {% endfor %}
                    </div>
                    <div class="player-list-container">
                        <table class="table player-list">

                            <thead>
                                <tr>
                                    <th>Joueurs</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for player in team.players %}
                                <tr>
                                    <td>{{ player.firstname }} <b>{{ player.name }}</b></td>
                                </tr>

                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}