{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block team_widget %}

    <tr class="team-input" {% if form.vars.data.id is defined %}data-teamid="{{ form.vars.data.id }}"{% endif %}>
        <td>{{ form_widget(form.name) }}</td>
        <td>
            {% if form.vars.data.players is defined %}
                - Vous avez déjà ajouté les joueurs de cette équipe -
            {% else %}
                {{ form_widget(form.players) }}
            {% endif %}
        </td>
        <td class="teams_actions">

            {% if form.vars.data.id is defined %}
                <div class="btn btn-primary edit-button"><span class="glyphicon glyphicon-edit"></span></div>
            {% endif %}

            <div class="btn btn-danger remove-button"><span class="glyphicon glyphicon-remove"></span></div>
        </td>
    </tr>

{% endblock %}

{% block body %}

    <h2>Edition du tournoi {{ tournament.name }}</h2>

    <div id="modal-blackout" class="modal"></div>
    <div id="modal-body" class="modal">
        <div id="modal-content"></div>
    </div>

    {{  form_start(form) }}

        <table id="teams_formfields_container" data-prototype="{{ form_widget(form.teams.vars.prototype)|e }}" class="table">
            <thead>
                <th>Nom de l'équipe</th>
                <th>Joueurs</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for team in form.teams %}
                    {{ form_widget(team) }}
                {% endfor %}
            </tbody>

        </table>

        <div class="bottom-btn-container">

            <div class="col-md-4">
                <div class="left-btn">
                    <a class="btn btn-default" href="{{ url('edit_tournament',{'tournamentId':tournament.id}) }}"><span class="glyphicon glyphicon-chevron-left"></span> Précédent</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="center-btn">
                    <div class="btn btn-success teamadd-btn"><span class="glyphicon glyphicon-plus"></span> Ajouter une équipe</div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="right-btn">
                    <button type="submit" class="btn btn-primary">Suivant <span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>

        </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        var maxindex = 0;

        $(function(){
            var form = $('form');

            maxindex = form.find('.team-input').length;

            var addBtn = $('.teamadd-btn');

            addBtn.on('click',addTeam);

            $('#modal-blackout').on('click',hideModal);


            bindRemoveButtons();

            bindEditButtons();

        });

        function addTeam(e){
            e.preventDefault();

            var tableContainer =  $('table#teams_formfields_container');
            var prototype = tableContainer.attr('data-prototype');
            var newTeamForm = prototype.replace(/__index__/g,maxindex ++);

            var tableBody =  $(tableContainer.find('tbody'));

            tableBody.append(newTeamForm);

            bindRemoveButtons();
            bindEditButtons();

        }

        function editTeam(e){
            var formRow = $(e.target).parents('tr.team-input');
            var teamId = formRow.attr('data-teamid');
            $.ajax({
                url : '{{ url('edit_team') }}' + '/' + teamId,
                success : function(data,status){
                    updateModalContent(data,teamId);
                    showModal();
                }
            });

        }

        function removeTeam(e){
            var button = $(e.target);
            var formRow = button.parents('tr.team-input');
            formRow.remove();
        }

        function bindRemoveButtons(){
            $(".remove-button").each(function(){
                $(this).on('click',removeTeam);
            })
        }

        function bindEditButtons(){
            $(".edit-button").each(function(){
                $(this).on('click',editTeam);
            })
        }

        function showModal(){
            $('.modal').show();
        }

        function hideModal(){
            $('.modal').hide();
        }

        function updateModalContent($content,teamId){
            var modal = $("#modal-content");
            modal.html($content);
            modal.attr('data-teamid',teamId);
        }




    </script>

{% endblock %}