{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block team_widget %}

    <tr class="team-input" {% if form.vars.data.id is defined %}data-teamid="{{ form.vars.data.id }}"{% endif %}>
        <td class="index-col"></td>
        <td>{{ form_widget(form.name) }}</td>
        <td>
            {% if form.vars.data.players is defined %}
                - Vous avez déjà ajouté les joueurs de cette équipe -
            {% else %}
                {{ form_widget(form.players) }}
            {% endif %}
        </td>
        <td class="teams_actions">

            {% if form.vars.data.id is defined %}
                <div class="btn btn-primary edit-button"><span class="glyphicon glyphicon-edit"></span></div>
            {% endif %}

            <div class="btn btn-danger remove-button"><span class="glyphicon glyphicon-remove"></span></div>
        </td>
    </tr>

{% endblock %}

{% block body %}

    <h2>Edition du tournoi {{ tournament.name }}</h2>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary btn-save-modal"><span class="glyphicon glyphicon-save"></span> Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>


    {{  form_start(form) }}

        <table id="teams_formfields_container" data-prototype="{{ form_widget(form.teams.vars.prototype)|e }}" class="table">
            <thead>
                <th></th>
                <th>Nom de l'équipe</th>
                <th>Joueurs</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for team in form.teams %}
                    {{ form_widget(team) }}
                {% endfor %}
            </tbody>

        </table>

        <div class="bottom-btn-container">

            <div class="col-md-4">
                <div class="left-btn">
                    <a class="btn btn-default" href="{{ url('edit_tournament',{'tournamentId':tournament.id}) }}"><span class="glyphicon glyphicon-chevron-left"></span> Précédent</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="center-btn">
                    <div class="btn btn-success teamadd-btn"><span class="glyphicon glyphicon-plus"></span> Ajouter une équipe</div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="right-btn">
                    <button type="submit" class="btn btn-primary">Suivant <span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>

        </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        var modal = $('.modal');

        var maxindex = 0;

        $(function(){
            var form = $('form');

            maxindex = form.find('.team-input').length;

            var addBtn = $('.teamadd-btn');

            addBtn.on('click',addTeam);

            modal.find('.btn-save-modal').on('click',sendModalForm);

            bindRemoveButtons();

            bindEditButtons();

            updateIndexCol();

        });

        function addTeam(e){
            e.preventDefault();

            var tableContainer =  $('table#teams_formfields_container');
            var prototype = tableContainer.data('prototype');
            var newTeamForm = prototype.replace(/__index__/g,maxindex ++);

            var tableBody =  $(tableContainer.find('tbody'));

            tableBody.append(newTeamForm);

            bindRemoveButtons();
            bindEditButtons();
            updateIndexCol();

        }

        function editTeam(e){
            var formRow = $(e.target).parents('tr.team-input');
            var teamId = formRow.data('teamid');
            $.ajax({
                type: 'GET',
                url : '{{ url('edit_team', {"teamId": "__id__"}) }}'.replace('__id__', teamId),
                success : function(data){
                    updateModalContent(data,teamId);
                    modal.modal('show');
                }
            });

        }

        function removeTeam(e){
            var button = $(e.target);
            var formRow = button.parents('tr.team-input');
            formRow.remove();
            updateIndexCol();
        }

        function bindRemoveButtons(){
            $(".remove-button").each(function(){
                $(this).on('click',removeTeam);
            })
        }

        function bindEditButtons(){
            $(".edit-button").each(function(){
                $(this).on('click',editTeam);
            })
        }

        function updateModalContent(content,teamId){
            modal.find('.modal-title').html(content.title);
            modal.find('.modal-body').html(content.content);
            modal.data('teamid',teamId);
        }

        function sendModalForm(e){
            var formData = new FormData(modal.find('form')[0]);
            var teamId = modal.data('teamid');
            $.ajax({
                type: 'POST',
                url : '{{ url('edit_team', {"teamId": "__id__"}) }}'.replace('__id__', teamId),
                data : formData,
                processData: false,
                contentType: false,
                success : function(){
                    modal.modal('hide');
                }
            });

        }

        function updateIndexCol(){
            $(".index-col").each(function(index,elem){
                $(elem).text(index+1);
            })
        }
    </script>

{% endblock %}