{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur le bon form</h1>

    <div class="row">
    {{  form_start(form) }}
        <div>
            {{  form_row(form.name) }}
            {{  form_row(form.teamsNumber) }}
            {{  form_row(form.poolsNumber) }}
            {{  form_row(form.teamsByPool) }}
        </div>


        {{ form_end(form) }}
    </div>
{% endblock %}