{% extends 'base.html.twig' %}

{% block body %}

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-error alert alert-danger hidden"></div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary btn-save-modal"><span class="glyphicon glyphicon-save"></span> Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>


    <h1>Programmer les matchs du tournoi <span class="tournament-name"><a href="{{ url('view_tournament', {'tournamentId': tournament.id}) }}">{{ tournament.name }}</a></span></h1>

    {% if tournament.finalsOngoing %}
        {% set phaseName = 'finale' %}
    {%  else %}
        {% set phaseName = 'de poules' %}
    {% endif %}

    {% if tournament.poolsPlayed and not tournament.finalsOngoing %}
        {% set poolsEnded = true %}
    {% else %}
        {% set poolsEnded = false %}
    {% endif %}

    {% if tournament.finalsOngoing and tournament.isCurrentFinalRoundPlayed  %}
        {% set finalRoundEnded = true %}
    {% else %}
        {% set finalRoundEnded = false %}
    {% endif %}

    <h4>Ce tournoi est actuellement en phase {{ phaseName }} {% if poolsEnded or finalRoundEnded %}&nbsp;&nbsp;<span class="text-success"><span class="glyphicon glyphicon-ok"></span> Tous les matchs on été joués</span>{% endif %}</h4>
    {% if poolsEnded %}
        <button class="btn btn-lg btn-success btn-validate-pools"><span class="glyphicon glyphicon-ok"></span> Valider les poules et passer aux phases finales</button>
    {% endif %}

    {% if finalRoundEnded %}
        <button class="btn btn-lg btn-success btn-setup-next-final-round"><span class="glyphicon glyphicon-ok"></span> Valider les {{ tournament.currentFinalRound.name }} et passer au tour suivant</button>
    {% endif %}



    <div class=row">
        <div class="col-md-8 col-md-offset-2">
            <div class="errors">
            </div>
        </div>
    </div>

    <div class=row">
        <div class="col-md-12">

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#matches" aria-controls="matches" role="tab" data-toggle="tab">Matches</a></li>
                <li role="presentation"><a href="#rounds" aria-controls="rounds" role="tab" data-toggle="tab">Créneaux horaires</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="matches">
                    {% include ':AppBundle/Tournament:programMatches.html.twig' %}
                </div>

                <div role="tabpanel" class="tab-pane" id="rounds">
                    <div class="row">
                        <div class="col-md-12 add-day-btn-container">
                            <div class="btn btn-success btn-add-day"><span class="glyphicon glyphicon-plus"></span> Ajouter un jour de tournoi</div>
                        </div>
                    </div>
                    <div id="program-rounds-containter">
                        {% include ':AppBundle/Tournament:programRounds.html.twig' %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        var tournamentId = "{{ tournament.id }}";
        var modal = $('.modal');
        var modalSaveBtn = $('.btn-save-modal');

        $(function(){

            $('.btn-add-day').on('click',addDay);
            $('.btn-validate-pools').on('click',validatePools);
            $('.btn-setup-next-final-round').on('click',setupNextFinalRound);
            bindDayEdit();
            bindMatchEdit();

        });

        function addError(message){
            var alert = $("<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><span class='alert-content'></span></div>");
            alert.find('.alert-content').text(message);
            $('.errors').append(alert);
        }

        function showModal(title,body,size){

            //Retrait des erreurs qui peuvent provenir d'une modal précédente
            modal.find('.modal-error').addClass('hidden');

            var dialog = modal.find('.modal-dialog');
            //Reset modal dialog size
            dialog.removeClass('modal-sm');
            dialog.removeClass('modal-lg');
            if(size === "sm"){
                dialog.addClass('modal-sm');
            }
            if(size === "lg"){
                dialog.addClass('modal-lg');
            }

            modal.find('.modal-title').html(title);
            modal.find('.modal-body').html(body);
            modal.modal('show');

        }

        function hideModal(){
            modal.modal('hide');
        }

        function addModalError(error){
            var errorContainer = modal.find('.modal-error');
            errorContainer.html(error);
            errorContainer.removeClass('hidden');
        }

        function bindMatchEdit(){
            $('.match-row').on('click',function(e){
                var matchId = $(e.target).parents('.match-row').data('id');
                getMatchEditForm(matchId);
            })
        }

        function getMatchEditForm(matchId){
            $.ajax({
                type: 'GET',
                url: '{{ url('edit_match', {'matchId': '__matchId__'}) }}'.replace('__matchId__',matchId),
                processData: false,
                contentType: false
            })
                .done(function(data){
                    modalSaveBtn.off(); //Retrait des listners qui pouvaient précédement se trouver sur le boutton
                    modalSaveBtn.on('click',function(){
                        saveMatchEditModal(matchId);
                    });
                    showModal("Programmation du match",data,null);
                })
                .fail(function(data){
                    addError(data.responseJSON);
                })
        }

        function saveMatchEditModal(matchId){

            var form = modal.find('form')[0];

            $.ajax({
                type: 'POST',
                url: '{{ url('edit_match', {'matchId': '__matchId__'}) }}'.replace('__matchId__',matchId),
                data: new FormData(form),
                processData: false,
                contentType: false

            })
                .done(function(data){
                    reloadProgramMatches()
                    hideModal();
                })
                .fail(function(data){
                    addModalError(data.responseJSON);
                })
        }

        function addDay(){
            $.ajax({
                type: 'GET',
                url: '{{ url('add_day', {'tournamentId': tournament.id}) }}',
                processData: false,
                contentType: false
            })
                .done(function(data){
                    modalSaveBtn.off(); //Retrait des listners qui pouvaient précédement se trouver sur le boutton
                    modalSaveBtn.on('click',saveAddDayModal);
                    showModal("Ajout d'un jour de tournoi",data,"sm")
                })
                .fail(function(data){
                    addError(data.responseJSON);
                })
        }

        function saveAddDayModal(){

            var form = modal.find('form')[0];

            $.ajax({
                type: 'POST',
                url: '{{ url('add_day', {'tournamentId': tournament.id}) }}',
                data: new FormData(form),
                processData: false,
                contentType: false

            })
                .done(function(data){
                    hideModal();
                    reloadProgramRounds();
                })
                .fail(function(data){
                    addModalError(data.responseJSON);
                })
        }

        function reloadProgramMatches(){
            $.ajax({
                type: 'GET',
                url: '{{ url('program_tournament_matches', {'tournamentId': tournament.id}) }}',
                processData: false,
                contentType: false

            })
                .done(function(data){
                    $('#matches').html(data);
                    bindMatchEdit();
                })
                .fail(function(data){
                    addError(responseJSON);
                })
        }


        function reloadProgramRounds(){
            $.ajax({
                type: 'GET',
                url: '{{ url('program_tournament_rounds', {'tournamentId': tournament.id}) }}',
                processData: false,
                contentType: false

            })
                .done(function(data){
                    $('#program-rounds-containter').html(data);
                    bindDayEdit();
                })
                .fail(function(data){
                    addError(responseJSON);
                })
        }

        function bindDayEdit(){
            $('.day-row').on('click',function(e){

                var dayId = $(e.target).data('id');
                getDayEditForm(dayId);

            });
        }

        function getDayEditForm(dayId){
            $.ajax({
                type: 'GET',
                url: '{{ url('edit_day', {'dayId': '__dayId__'}) }}'.replace('__dayId__',dayId),
                processData: false,
                contentType: false

            })
                .done(function(data){
                    modalSaveBtn.off(); //Retrait des listners qui pouvaient précédement se trouver sur le boutton
                    modalSaveBtn.on('click',function(){
                        saveDayRoundsModal(dayId)
                    });
                    showModal('Ajout de créneaux pour le ' + data.dayDate,data.renderedView,null);
                })
                .fail(function(data){
                    addError(data.responseJSON);
                })
        }

        function saveDayRoundsModal(dayId){

            var form = modal.find('form')[0];

            $.ajax({
                type: 'POST',
                url: '{{ url('edit_day', {'dayId': '__dayId__'}) }}'.replace('__dayId__',dayId),
                data: new FormData(form),
                processData: false,
                contentType: false

            })
                .done(function(data){
                    hideModal();
                })
                .fail(function(data){
                    addModalError(data.responseJSON);
                })
        }

        function validatePools(){

            $.ajax({
                type: 'GET',
                url: '{{ url('tournament_validate_pools', {'tournamentId': tournament.id}) }}',
                processData: false,
                contentType: false
            })
                .done(function(){
                    window.location.reload();
                })
                .fail(function(data){
                    addError(data);
                })
        }

        function setupNextFinalRound(){

            $.ajax({
                type: 'GET',
                url: '{{ url('tournament_setup_next_final_round', {'tournamentId': tournament.id}) }}',
                processData: false,
                contentType: false
            })
                .done(function(data){
                    if(data.tournamentEnded){
                        window.location = data.redirectUrl;
                    }
                })
                .fail(function(data){
                    addError(data.responseJSON);
                })
        }

        

    </script>

{% endblock %}