{% extends 'base.html.twig' %}

{% block body %}

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary btn-save-modal"><span class="glyphicon glyphicon-save"></span> Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>


    <h1>Programmer les matchs du tournoi {{ tournament.name }}</h1>

    {% if tournament.finalsOngoing %}
        {% set phaseName = 'finale' %}
    {%  else %}
        {% set phaseName = 'de poules' %}
    {% endif %}

    <h4>Ce tournoi est actuellement en phase {{ phaseName }}</h4>

    <div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#matches" aria-controls="matches" role="tab" data-toggle="tab">Matches</a></li>
            <li role="presentation"><a href="#rounds" aria-controls="rounds" role="tab" data-toggle="tab">Créneaux horaires</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="matches">
                {% include ':AppBundle/Tournament:programMatches.html.twig' %}
            </div>

            <div role="tabpanel" class="tab-pane" id="rounds">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn btn-success btn-add-day"><span class="glyphicon glyphicon-plus"></span> Ajouter un jour de tournoi</div>
                    </div>
                </div>
                {% include ':AppBundle/Tournament:programRounds.html.twig' %}
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        var tournamentId = "{{ tournament.id }}";

        $(function(){

            $('.btn-add-day').on('click',addDay);

        });

        function showModal(title,body,size){
            var modal = $('.modal');
            var dialog = modal.find('.modal-dialog');
            //Reset modal dialog size
            dialog.removeClass('modal-sm');
            dialog.removeClass('modal-lg');
            if(size === "sm"){
                dialog.addClass('modal-sm');
            }
            if(size === "lg"){
                dialog.addClass('modal-lg');
            }

            modal.find('.modal-title').html(title);
            modal.find('.modal-body').html(body);
            modal.modal('show');

        }

        function addDay(){
            $.ajax({
                type: 'GET',
                url: '{{ url('add_day', {'tournamentId': tournament.id}) }}',
                processData: false,
                contentType: false
            })
                .done(function(data){
                    showModal("Ajout d'un jour de tournoi",data,"sm")
                })
                .fail(function(data) {
                })
        }

    </script>

{% endblock %}