{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ tournament.name }}</h1>
        </div>
    </div>

    {% if not tournament.completed %}
        <div class="row">
            <div class="col-md-12 text-center">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-lg btn-warning" href="{{ url("program_tournament",{"tournamentId": tournament.id}) }}">
                        Programmer les matchs de ce tournoi
                    </a>
                {% endif %}

                {% if is_granted('ROLE_REFEREE') %}
                    <a class="btn btn-lg btn-info" href="{{ url("referee_match_list",{"userId": app.user.id}) }}">
                        Voir mes matchs à arbitrer
                    </a>
                {% endif %}
            </div>
        </div>

        {% if not tournament.finalsOngoing %}
            <div class="row">
                {% for pool in tournament.pools %}
                    <div class="col-md-6 text-center">
                        <h3>Poule {{ loop.index }}</h3>
                        {% include ':AppBundle/Pool:poolRanking.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                {% for match in tournament.currentFinalRound.matches %}
                    <div class="col-md-6 text-center">
                        <h3>{{ tournament.currentFinalRound.name }} {{ loop.index }}</h3>
                        <table class="table table-bordered final-rounds-match">
                            <tbody>
                                {% for score in match.scores %}
                                    {% if score.match.played %}
                                        {% set displayScore = score.goals %}
                                    {% else %}
                                        {% set displayScore = "TbD" %}
                                    {% endif %}

                                    <tr>
                                        <td><a href="{{ url('view_team',{"teamId": score.team.id}) }}">{{ score.team.name }}</a></td>
                                        <td>{{ displayScore }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% else %}
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>TOURNOI TERMINE</h2>
                <p>Le gagnant est <b>{{ tournament.winner.name }}</b></p>
            </div>
        </div>
    {% endif %}

{% endblock %}