{% extends 'base.html.twig' %}



{% block body %}

<table class="table text-center list-table">
    <thead>
        <tr>
            <th class="text-center">N°</th>
            <th class="text-center">Nom</th>
            <th class="text-center">Mail</th>
            <th class="text-center">Inscrit depuis</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstname|capitalize }} <b>{{ user.lastname|upper }}</b></td>
            <td>{{ user.mail }}</td>
            <td>{{ user.created|date("d/m/Y") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}